{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block body %}
    <div class="about">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac orci a mi scelerisque posuere vel nec nisi. Praesent vel ex sed magna ornare tincidunt a et lectus. Fusce auctor, neque at accumsan laoreet, sapien nisi rhoncus nisl, at pharetra magna risus ac nibh. Pellentesque dapibus et massa et sagittis. Duis a dolor vitae lacus maximus varius nec quis eros. Proin ut dignissim felis. Duis interdum massa vel purus luctus lacinia elementum at ipsum. Phasellus quis mauris vel dui tincidunt dapibus eu eu magna. Mauris rutrum, enim nec faucibus euismod, augue metus facilisis sapien, at mollis magna ante sagittis ante. Proin blandit eget erat vitae imperdiet. In at dapibus nisl, non mollis eros. Curabitur ex sem, imperdiet vitae vulputate eu, pharetra quis nunc. Vivamus dignissim, justo pellentesque dictum feugiat, ante enim tincidunt velit, eu imperdiet nunc ligula vitae nibh. Mauris rutrum lacus in mi consequat, in semper erat venenatis.</p>
    </div>
    {% endblock %}